body {
  margin: 0rem;
  padding: 0;
}
body,
html {
  height: 100%;
}
input {
  border: none;
  padding: 0;
}
#wrap header {
  width: 100%;
  height: 2.15rem;
  background-color: #000;
  color: #fff;
  font-size: 0.85rem;
  text-align: center;
  line-height: 2.15rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#wrap footer {
  width: 100%;
  height: 0.125rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  left: 0;
  right: 0 ;
  z-index: 40;
}
#nr {
  width: 100%;
  position: absolute;
  top: 2.15rem;
  left: 0;
  right: 0;
  bottom: 0.125rem;
}
#loading {
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
}
#audio_btn {
  width: 1.325rem;
  height: 1.325rem;
  background-image: url(../img/22、文字搬运工.gif);
  background-size: 1.325rem;
  position: absolute;
  right: 1rem;
  top: 0.975rem;
  border: 0.1rem solid #ffffff;
  border-radius: 50%;
  z-index: 100;
  opacity: 0.8;
}
.main-page {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-size: 100%;
  left: 0;
  top: 0;
  background-size: 100% 100%;
}
.main-page-1 {
  background: url(../img/bg.jpg);
  background-size: 100% 100%;
}
.main-page-1 .item {
  position: absolute;
}
.main-page-1 .item1 {
  width: 1.85rem;
  height: 1.85rem;
  top: 7.625rem;
  left: 8.625rem;
  z-index: 20;
}
.main-page-1 .item1 img {
  width: 1.85rem;
  height: 1.85rem;
}
.main-page-1 .item2 {
  width: 12.175rem;
  height: 14.35rem;
  top: 8.5rem;
  left: 1.55rem;
  z-index: 19;
}
.main-page-1 .item2 img {
  width: 12.175rem;
  height: 14.35rem;
}
.main-page-1 .item3 {
  width: 12.25rem;
  height: 1.7rem;
  top: 22.55rem;
  left: 2.55rem;
}
.main-page-1 .item3 img {
  width: 12.25rem;
}
.main-page-1 .item4 {
  width: 9.35rem;
  height: 10.9rem;
  top: 0.75rem;
  left: 4.05rem;
}
.main-page-1 .item4 img {
  width: 9.35rem;
  height: 10.9rem;
}
.main-page-1 .item5 {
  width: 5.75rem;
  height: 5.9rem;
  top: 3.95rem;
  left: 10.4rem;
}
.main-page-1 .item5 img {
  width: 5.75rem;
  height: 5.9rem;
}
.main-page-1 .item6 {
  width: 5.75rem;
  height: 5.9rem;
  top: 9.1rem;
  left: 12.25rem;
  z-index: 21;
}
.main-page-1 .item6 img {
  width: 5.75rem;
  height: 5.9rem;
}
.main-page-1 .item7 {
  width: 10.2rem;
  height: 7.65rem;
  top: 9.65rem;
  left: 7.5rem;
  z-index: 1;
}
.main-page-1 .item7 img {
  width: 10.2rem;
  height: 7.65rem;
}
.main-page-1 .item8 {
  width: 4.25rem;
  height: 4.55rem;
  top: 13.85rem;
  left: 10.45rem;
  z-index: 20;
}
.main-page-1 .item8 img {
  width: 4.25rem;
  height: 4.55rem;
}
.main-page-1 .item9 {
  width: 4.8rem;
  height: 4.5rem;
  top: 14.75rem;
  left: 0.25rem;
  z-index: 20;
}
.main-page-1 .item9 img {
  width: 4.8rem;
  height: 4.5rem;
}
.main-page-1 .item10 {
  width: 6.9rem;
  height: 4.3rem;
  top: 12.05rem;
  left: -3.2rem;
  z-index: 20;
}
.main-page-1 .item10 img {
  width: 6.9rem;
  height: 4.3rem;
}
.main-page-1 .item11 {
  width: 6.9rem;
  height: 6rem;
  top: 6.5rem;
  left: -2.45rem;
  z-index: 0;
}
.main-page-1 .item11 img {
  width: 6.9rem;
  height: 6rem;
}
.main-page-1 .item12 {
  width: 6.75rem;
  height: 4.25rem;
  top: 6.2rem;
  left: -2.25rem;
  z-index: 20;
}
.main-page-1 .item12 img {
  width: 6.75rem;
  height: 4.25rem;
}
.main-page-1 .item13 {
  width: 4.85rem;
  height: 4.4rem;
  top: 5.85rem;
  left: 3.7rem;
  z-index: 20;
}
.main-page-1 .item13 img {
  width: 4.85rem;
  height: 4.4rem;
}
.main-page-1 .item14 {
  width: 4.9rem;
  height: 5.25rem;
  top: 3.6rem;
  left: 1rem;
  z-index: 20;
}
.main-page-1 .item14 img {
  width: 4.9rem;
  height: 5.25rem;
}
.main-page-1 .item15 {
  width: 13.95rem;
  height: 1.5rem;
  color: #000;
  line-height: 1.6rem;
  background: url(../img/duobihandongdaxingdong.png) no-repeat;
  top: 10.1rem;
  left: 2rem;
  z-index: 21;
  background-size: 11.1rem 1.5rem;
}
.main-page-1 .item16 {
  line-height: 64px;
  background: url(../img/haidaoyouyouhuizhong.png) no-repeat;
  z-index: 21;
  width: 11.45rem;
  height: 2.6rem;
  top: 12rem;
  left: 4.4rem;
  background-size: 7.1rem;
}
.main-page-1 .item17 {
  width: 11.45rem;
  height: 2.6rem;
  background: url(../img/riqi.png) no-repeat;
  top: 13.8rem;
  left: 6.5rem;
  z-index: 21;
  background-size: 3.4rem;
}
.main-page-1 .bigBird {
  width: 4.7rem;
  height: 5.75rem;
  left: 8.85rem;
  top: 4.35rem;
}
.main-page-1 .bigBird img {
  width: 4.7rem;
}
.progress {
  width: 100%;
  height: 0.125rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.progress .progressBan {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.125rem;
  width: 100%;
  background-color: #08a1ef;
}
.progress .page-tips {
  position: absolute;
  right: 0.5rem;
  top: -1rem;
  color: #fff;
  font-size: 0.75rem;
  font-style: normal;
  z-index: 100;
}
.progress .page-tips span {
  float: left;
}
.arrows {
  width: 0.85rem;
  height: 0.675rem;
  position: absolute;
  bottom: 0.6rem;
  left: 50%;
  margin-left: -0.425rem;
  z-index: 100;
  background: url(../img/arrows.png) no-repeat;
  background-size: 0.85rem;
}
.woodBan {
  width: 10.075rem;
  height: 8rem;
  position: absolute;
  background: url(../img/woodban.png) no-repeat;
  background-size: 10.075rem 8rem;
  text-align: center;
  left: 50%;
  margin-left: -5.025rem;
}
.woodBanTop {
  width: 10.075rem;
  position: absolute;
  font-family: "mt bold";
  font-size: 0.925rem;
  line-height: inherit;
  color: #000;
  padding-left: 0.15rem;
  left: 50%;
  margin-left: -5.025rem;
  font-weight: bold;
  z-index: 12;
  text-align: center;
}
.woodBanBot {
  width: 10.075rem;
  position: absolute;
  font-family: arial;
  font-size: 1.3rem;
  line-height: inherit;
  color: #fcff85;
  left: 50%;
  margin-left: -5.025rem;
  font-weight: bold;
  z-index: 12;
  text-align: center;
}
.woodBanBot span {
  text-shadow: 0.25rem #000000;
}
.itemstar {
  width: 2.4rem;
  height: 2.3rem;
  background: url(../img/o_1b2ajug0o1u9j7h31pj15q01onea2.png) no-repeat;
}
.main-page-2 {
  background: url(../img/bg2.jpg) no-repeat;
  background-size: 100% 100%;
}
.main-page-2 .itemstar {
  opacity: 0;
  background-size: 2.4rem;
  position: absolute;
}
.main-page-2 .itemstar1 {
  top: 15.95rem;
  left: 4.6rem;
}
.main-page-2 .itemstar2 {
  top: 2.35rem;
  left: 2.45rem;
}
.main-page-2 .itemstar3 {
  top: 6.55rem;
  left: 7.8rem;
}
.main-page-2 .itemstar4 {
  top: 8.05rem;
  left: -1.1rem;
}
.main-page-2 .itemstar5 {
  top: -0.3rem;
  left: 10.55rem;
}
.main-page-2 .itemstar6 {
  top: 13.95rem;
  left: 14.8rem;
}
.main-page-2 .itemstar7 {
  top: 20.1rem;
  left: 2.45rem;
}
.main-page-2 .itemstar8 {
  top: 21.25rem;
  left: 11.55rem;
}
.main-page-2 .scene2-bottom {
  width: 18.35rem;
  height: 10.05rem;
  position: absolute;
  bottom: -3rem;
  left: -1.1rem;
}
.main-page-2 .scene2-bottom img {
  width: 18.35rem;
  height: 10.05rem;
}
.main-page-2 .woodBan1 {
  top: 1.05rem;
  z-index: 10;
}
.main-page-2 .woodBan2 {
  top: 6rem;
  z-index: 9;
}
.main-page-2 .woodBan3 {
  top: 10.95rem;
  z-index: 8;
}
.main-page-2 .woodBanTop1 {
  top: 4.6rem;
}
.main-page-2 .woodBanTop2 {
  top: 9.5rem;
}
.main-page-2 .woodBanTop3 {
  top: 14.5rem;
}
.main-page-2 .woodBanBot1 {
  top: 5.9rem;
}
.main-page-2 .woodBanBot2 {
  top: 10.9rem;
}
.main-page-2 .woodBanBot3 {
  top: 15.8rem;
}
.main-page-3 {
  background: url(../img/bg.jpg) no-repeat;
  background-size: 100% 100%;
}
.main-page-3 .item {
  position: absolute;
}
.main-page-3 .itemstar {
  width: 3.5rem;
  height: 3.35rem;
  background: url(../img/o_1b2ajug0o1u9j7h31pj15q01onea2.png) no-repeat;
  background-size: 3.5rem 3.35rem;
}
.main-page-3 .item1 {
  top: 19.55rem;
  left: 2.15rem;
}
.main-page-3 .item2 {
  top: 2.35rem;
  left: 0.4rem;
}
.main-page-3 .item3 {
  top: 18.6rem;
  left: 6.2rem;
  -webkit-transform: scale(0.8);
}
.main-page-3 .item4 {
  top: 20.35rem;
  left: 13.2rem;
  -webkit-transform: scale(0.7);
}
.main-page-3 .item5 {
  width: 180%;
  height: 9.5rem;
  background-color: #fff;
  -webkit-transform: rotate(-30deg) translate(-7rem, -2.9rem);
}
.main-page-3 .woodBan {
  width: 8.05rem;
  height: 6.4rem;
  top: -1.05rem;
  left: 5.2rem;
  background-size: 100% 100%;
  -webkit-transform: scale(0.9);
}
.main-page-3 .woodBanTop {
  top: 2.1rem;
  left: 4rem;
  font-size: 1.1rem;
}
.main-page-3 .itemBird {
  width: 5rem;
  height: 6.1rem;
  background: url(../img/o_1b2ahdci3pok1gho4ckq921q7i1t.png) no-repeat;
  background-size: 5rem 6.1rem;
  top: 4.9rem;
  left: 11.25rem;
}
.main-page-3 .itemLeaf {
  width: 5.6rem;
  height: 5.75rem;
  left: -2.8rem;
  top: 18.6rem;
  -webkit-transform: scale(1.2);
  background: url(../img/o_1b2ahdci3l0q1qki174m1oteb8f1r.png) no-repeat;
  background-size: cover;
}
.main-page-3 .woodPan1 {
  top: 4.95rem;
  left: 0.8rem;
}
.main-page-3 .woodPanWord1 {
  top: 6.5rem;
  left: 1.76rem;
}
.main-page-3 .woodPan2 {
  left: 11.7rem;
  top: 12.75rem;
}
.main-page-3 .woodPanWord2 {
  left: 12.5rem;
  top: 14.2rem;
}
.main-page-3 .itemRLeaf {
  width: 7.8rem;
  height: 7.2rem;
  left: 11.2rem;
  top: 8rem;
  background: url(../img/longLeaf.png) no-repeat;
}
.main-page-3 .itemflower {
  width: 2.3rem;
  height: 2.35rem;
  left: 10.75rem;
  top: 11.9rem;
}
.main-page-3 .itemflower img {
  width: 2.3rem;
  height: 2.35rem;
}
.main-page-3 .itemWords1 {
  top: 5.8rem;
  left: 4.5rem;
}
.main-page-3 .itemWords2 {
  bottom: 1rem;
  left: 7.15rem;
}
.main-page-3 .itemPic {
  width: 9.2rem;
  height: 6.55rem;
  left: 0.8rem;
  top: 9.9rem;
  padding: 0.2rem;
  background-color: #fff;
}
.main-page-3 .itemPic img {
  width: 9.2rem;
  height: 6.55rem;
}
.woodPan {
  width: 3.4rem;
  height: 5.1rem;
  position: absolute;
  background: url(../img/woodpan.png) no-repeat;
  background-size: 3.4rem 5.1rem;
}
.woodPanWord {
  width: 3.4rem;
  height: 5.1rem;
  position: absolute;
  -webkit-writing-mode: vertical-lr;
  font-size: 1.1rem;
}
.itemWords {
  color: #000;
  font-size: 0.7rem;
}
.itemWords div {
  height: 0.7rem;
  line-height: 0.7rem;
  margin-bottom: 0.3rem;
}
.thinLeafLB {
  background: url(../img/thinLeaf.png) no-repeat;
}
.thinLeafL {
  background: url(../img/o_1b2ahdci2q171pbhp55grf15ar1d.png) no-repeat;
}
.main-page-4 {
  background: url(../img/greenBg.jpg) no-repeat;
  background-size: 100% 100%;
}
.main-page-4 .item {
  position: absolute;
}
.main-page-4 .woodBan {
  width: 8.05rem;
  height: 6.4rem;
  left: 5.35rem;
  top: -0.65rem;
  background-size: contain;
  transform: scale(0.9);
  z-index: 1;
}
.main-page-4 .woodBanTop {
  top: 2.6rem;
  left: 4.3rem;
  font-size: 1.1rem;
}
.main-page-4 .thinLeafLB1 {
  width: 6.25rem;
  height: 6.4rem;
  left: 11.7rem;
  top: -2.1rem;
  background-size: 6.25rem 6.4rem;
}
.main-page-4 .itemWords1 {
  top: 15.35rem;
  left: 4.8rem;
}
.main-page-4 .itemWords2 {
  top: 11.4rem;
  left: 4.8rem;
}
.main-page-4 .woodPan1 {
  top: 14.3rem;
  left: 11.25rem;
}
.main-page-4 .woodPanWord1 {
  top: 15.8rem;
  left: 12.1rem;
}
.main-page-4 .itemLongLeaf1 {
  width: 8.6rem;
  height: 7.1rem;
  left: -2.3rem;
  top: 18.95rem;
  background: url(../img/longLeafup.png) no-repeat;
  background-size: 8.6rem 7.1rem;
}
.main-page-4 .thinLeafL1 {
  width: 5.7rem;
  height: 4.95rem;
  top: 11.8rem;
  left: 14.45rem;
  background-size: 5.7rem 4.95rem;
}
.main-page-4 .itemBird1 {
  width: 5.55rem;
  height: 7.7rem;
  top: 17.8rem;
  bottom: 0;
  background-size: 5.55rem 7.7rem;
}
.main-page-4 .itemBird2 {
  width: 5.55rem;
  height: 7.7rem;
  left: 5.55rem;
  top: 21.35rem;
  background-size: 5.55rem 7.7rem;
}
.main-page-4 .thinLeafL2 {
  width: 5.7rem;
  height: 4.95rem;
  left: 13.8rem;
  top: 6.75rem;
  background-size: 5.7rem 4.95rem;
}
.main-page-4 .flower1 {
  width: 2.75rem;
  height: 2.65rem;
  left: 0;
  top: 19.1rem;
}
.main-page-4 .flower2 {
  width: 2.75rem;
  height: 2.65rem;
  top: 20rem;
  left: 0.5rem;
}
.main-page-4 .woodPan2 {
  left: 0.9rem;
  top: 11.7rem;
}
.main-page-4 .woodPanWord2 {
  left: 1.8rem;
  top: 13rem;
}
.main-page-4 .thinLeafLB2 {
  width: 4.65rem;
  height: 4.75rem;
  left: 12.2rem;
  top: 9.5rem;
  background-size: 4.65rem 4.75rem;
}
.main-page-4 .thinLeafLB3 {
  width: 6.25rem;
  height: 6.4rem;
  left: 13.4rem;
  top: -0.55rem;
  background-size: 6.25rem 6.4rem;
}
.main-page-4 .itemLongLeaf2 {
  width: 7.35rem;
  height: 8.6rem;
  top: 20.8rem;
  left: 0.1rem;
  background: url(../img/o_1b2ahdci31c391dfc123q1b5ol991v.png) no-repeat;
  background-size: 7.35rem;
}
.main-page-4 .itemBirdL1 {
  width: 4.6rem;
  height: 6.5rem;
  top: 18.75rem;
  left: 13.1rem;
  background-size: 4.6rem;
}
.main-page-4 .itemPic {
  width: 12.8rem;
  height: 5.55rem;
  left: 1.05rem;
  top: 5.2rem;
  background: url(../img/pic2.jpg) no-repeat;
  background-size: 12.8rem;
  border: 0.1rem solid #fff;
}
.main-page-4 .redBird {
  width: 3.9rem;
  height: 3.75rem;
  left: 10.55rem;
  top: 2.2rem;
  background-size: 3.9rem 3.75rem;
}
.redBird {
  background: url(../img/redBird.png) no-repeat;
}
.itemBirdL {
  background: url(../img/birdL.png) no-repeat;
}
.flower {
  background: url(../img/flower.png) no-repeat;
}
.itemBirdR {
  background: url(../img/birds.png) no-repeat;
}
.main-page-5 {
  background: url(../img/bg-blue.jpg) no-repeat;
  background-size: 100% 100%;
}
.main-page-5 .item {
  position: absolute;
}
.main-page-5 .band {
  width: 27rem;
  height: 9.55rem;
  background-color: #c4f5df;
  -webkit-transform: rotate(20deg);
  top: 7rem;
  left: -3rem;
}
.main-page-5 .itemstar {
  background-size: 2.7rem 2.6rem;
}
.main-page-5 .itemstar1 {
  left: 11.8rem;
  top: 14.45rem;
}
.main-page-5 .itemstar2 {
  left: 11.35rem;
  top: 8.45rem;
}
.main-page-5 .itemstar3 {
  left: 2.45rem;
  top: 11.65rem;
}
.main-page-5 .banana1 {
  left: 6rem;
  top: 20.95rem;
  background-size: 2.85rem;
}
.main-page-5 .banana2 {
  left: 1.2rem;
  top: 19.15rem;
  background-size: 2.85rem;
}
.main-page-5 .itemstar4 {
  left: 2.95rem;
  top: 5.3rem;
}
.main-page-5 .itemWords1 {
  width: 7.15rem;
  height: 5.95rem;
  left: 8.9rem;
  top: 0.55rem;
}
.main-page-5 .itemWords2 {
  width: 8.15rem;
  height: 4.85rem;
  left: 3.05rem;
  top: 18.5rem;
}
.main-page-5 .itemstar4 {
  left: -0.9rem;
  top: 6.15rem;
}
.main-page-5 .whitebird1 {
  left: 13.55rem;
  top: 17.9rem;
}
.main-page-5 .whitebird1 img {
  width: 3.6rem;
}
.main-page-5 .whitebird2 {
  left: 13.55rem;
  top: 10.1rem;
}
.main-page-5 .whitebird2 img {
  width: 3rem;
}
.main-page-5 .banana3 {
  left: 1.3rem;
  top: 12.8rem;
  background-size: 2.85rem;
}
.main-page-5 .banana4 {
  left: 0.65rem;
  top: 0.95rem;
  background-size: 2.85rem;
}
.main-page-5 .banana5 {
  left: 0.65rem;
  top: 0.95rem;
  background-size: 2.85rem;
}
.main-page-5 .itemPic {
  width: 8.95rem;
  height: 8.95rem;
  left: 50%;
  top: 6.38rem;
  border: 0.1rem solid #ffffff;
  border-radius: 50%;
  margin-left: -4.475rem;
  padding: 0.1rem;
  overflow: hidden;
  box-sizing: border-box;
}
.main-page-5 .itemPic img {
  width: 12.85rem;
  transform: scale(1.1);
  margin-left: -3rem;
}
.main-page-5 .woodPan1 {
  left: 9.55rem;
  top: 16.3rem;
  background-size: 3.4rem;
}
.main-page-5 .woodPanWord1 {
  left: 10.6rem;
  top: 17.68rem;
}
.main-page-5 .woodPan2 {
  left: 3.3rem;
  top: 0.85rem;
  background-size: 3.4rem;
}
.main-page-5 .woodPanWord2 {
  left: 4.25rem;
  top: 2.35rem;
}
.main-page-5 .woodBan1 {
  left: 5.15rem;
  top: 5.6rem;
  background-size: 6.55rem;
  transform: sscale(0.9);
}
.main-page-5 .woodBanTop {
  top: 8.2rem;
  left: 3.28rem;
}
.main-page-5 .whitebird3 {
  left: 11.35rem;
  top: 18.7rem;
}
.main-page-5 .whitebird3 img {
  width: 3.6rem;
}
.main-page-6 {
  background: url(../img/bg.jpg) no-repeat;
  background-size: 100% 100%;
}
.main-page-6 .item {
  position: absolute;
}
.main-page-6 .itemLeaf {
  width: 8.75rem;
  height: 6.35rem;
  left: -2.95rem;
  top: 15.35rem;
  background: url(../img/o_1b2ahdci3l0q1qki174m1oteb8f1r.png) no-repeat;
  background-size: 8.75rem 6.35rem;
}
.main-page-6 .itemLongLeaf {
  width: 8.65rem;
  height: 6.45rem;
  left: -5.45rem;
  top: 17.2rem;
  background: url(../img/o_1b2ahdci31goc1iir7aq116fcc61q.png) no-repeat;
  background-size: 8.65rem 6.45rem;
}
.main-page-6 .itemBirdR {
  width: 5.25rem;
  height: 7.25rem;
  left: 0.55rem;
  top: 18.05rem;
  background-size: 5.25rem 7.25rem;
  z-index: 2;
}
.main-page-6 .itemBird2 {
  width: 3.3rem;
  height: 6.05rem;
  left: 12.9rem;
  top: 3.2rem;
  background: url(../img/bird2.png) no-repeat;
  background-size: 3.3rem 6.05rem;
}
.main-page-6 .itemsmallLeaf {
  width: 6.55rem;
  height: 4.1rem;
  left: 12.05rem;
  top: 6.5rem;
  background: url(../img/o_1b2ahdci31nf72n113f21u2n1vdf1s.png) no-repeat;
  background-size: 6.55rem 4.1rem;
  z-index: 2;
}
.main-page-6 .woodBan {
  -webkit-transform: scale(0.9);
  left: 50%;
  margin-left: -5.0375rem;
  top: -0.4rem;
}
.main-page-6 .woodBanTop {
  top: 3.6rem;
  font-size: 1.2rem;
}
.main-page-6 .inputBox {
  width: 10rem;
  height: 2rem;
  box-sizing: border-box;
  border: 0.05rem solid #f08132;
}
.main-page-6 .inputBox input {
  width: 100%;
  height: 100%;
  font-size: 0.7rem;
  text-indent: 1em;
}
.main-page-6 .inputBox1 {
  top: 7.3rem;
  left: 2.95rem;
}
.main-page-6 .inputBox2 {
  top: 9.7rem;
  left: 2.95rem;
}
.main-page-6 .targetPlace {
  top: 12rem;
  left: 2.95rem;
}
.main-page-6 .email {
  top: 14.3rem;
  left: 2.95rem;
}
.main-page-6 .btn {
  overflow: hidden;
  top: 16.75rem;
  left: 2.95rem;
  background-color: #ea6601;
  text-align: center;
  line-height: 1.75rem;
}
.main-page-6 .btn input {
  background-color: #ea6601;
  color: #fff;
  text-indent: 0;
}
.main-page-6 .tips {
  width: 10rem;
  height: 1rem;
  left: 2.95rem;
  top: 18.8rem;
  color: red;
  font-weight: bold;
  line-height: 1rem;
  text-align: right;
  z-index: 10;
  font-size: 0.7rem;
  white-space: nowrap;
}
.banana {
  width: 2.85rem;
  height: 3.25rem;
  background: url(../img/banana.png) no-repeat;
}
@-webkit-keyframes rotateInfinity {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-webkit-keyframes rotatefinity {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
  }
}
@-webkit-keyframes appearshow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.rotateEle {
  -webkit-animation: rotateInfinity 2s infinite linear ;
}
.rotatefinity {
  -webkit-animation: rotatefinity 4s linear ;
}
.appearEle {
  -webkit-animation: appearshow 1s;
}
